#box{
    background-color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    border-radius: 20px;
}

#box:hover{
    background-color: rgb(31, 29, 29);
}

.textboxes{
    background-color: darkcyan;
}

.textboxes:hover{
    background-color: aquamarine;
}

.textboxes:focus{
    background-color: rgb(67, 161, 227);
}

.options{
    background-color: darkcyan;
    border-radius: 20px;
    border: 20px;
    border-color: black;
}

.options:hover{
    background-color: aquamarine;
}

.options:active{
    background-color: rgb(67, 161, 227);
}

.buttons{
    background-color: darkcyan;
    border-radius: 20px;
    font-size: large;
}

.buttons:hover{
    background-color: aquamarine;
}

.buttons:active{
    background-color: rgb(67, 161, 227);
}

.taxed{
    color: crimson;
}

.untaxed{
    color: #8be615;
}

#conclusion{
    background-color: aquamarine;
}